Django==6.0.2
psycopg[binary]
requests
django-daisy
django-tinymce
django-debug-toolbar
mypy
django-browser-reload
djangorestframework
django-cors-headers
Pillow
django-admin-sortable2
django-storages
django_browser_reload
